
/* SIGN UP  AND LOGIN PAGE */.body{
    background-image: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0,0, 0.2)), url('images/indexcar.jpg')  ;
    background-size: cover;
    background-position: fixed;
}

a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    font-size:14px;
    line-height: 120%;
    color: #FFF;
    background-color:transparent ;
    border: 1px solid #FFF;
    padding: 10px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color ease 400ms;

}
.btn:hover{
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.7);
}


/* SIGN UP  AND LOGIN PAGE */
.card{
    position: relative;
    top: 120px;
    left: 800px;

    background-color:transparent ;

}
.card-body p{
    color: white;
}
.card-header{
    color: white;
}
.form-group{
    background: none;
   
}
.form-group label{
color: white;
}
.form-group input{
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  
}
#fullName{
    color: white;
}

#email  {
    color: white;
}
#phone{
    color: white;
}
#password{
    color: white;
}
#confirm_password{
    color: white;
}
.form-group input:focus{
    background-color: transparent;
}

/* WElCOME PAGE */
#hero {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('images/hero.jpg');
    background-size: cover;
    background-position: bottom;
    

}
#hero .container {
    height: 80vh;
    

}

.minimizable {
    width:87%;
    margin: 30px auto;
    background-color: #F3F1F5;

}

.collapsible {
    color: #F3F1F5;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 18px;
    
}

.collapsible:hover {
    background-color: #DEEDF0;
}

.content {
    display: none;
}

.collapsible{
    font-family: 'Mate SC', serif;
   }
    .carts{
        background-color: #F3F1F5;
    }